@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.center {
  width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.container {
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

/* head */
.head {
  position: relative;
}

/* head .top_line */
.head .top_line {
  display: flex;
  height: 37px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  /* width: 100%; */
}

.head .top_line .left ul,
.head .top_line .right ul {
  display: flex;
}

.head .top_line .left ul li .bold {
  font-weight: 900;
  margin-right: 40px;
}

.head .top_line .right ul li .login {
  padding: 0px 10px;
  margin-right: 20px;
  border: 1px solid #ddd;
}

/* head nav */
.head .nav .section_01 {
  padding: 50px 0px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head .nav .section_01 .nav_box .notice {
  padding: 6px;
  border: 1px solid #c5c5c5;
  border-radius: 20px;
  margin-right: 20px;
}

.head .nav .section_01 .nav_box .notice i {
  margin-right: 4px;
}

.head .section_01 h2 {
  font-size: 45px;
}

.head .section_01 .input_box input {
  width: 218px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #ddd;
  background-color: inherit;
  position: relative;
  padding: 0 20px 0 60px;
}

.head .section_01 .input_box i {
  font-size: 26px;
  position: relative;
  top: 6px;
  right: 200px;
}

.head .nav .section_02 {
  padding-top: 17px;
  height: 640px;
}

.head .nav .section_02 .menu ul {
  display: flex;
  justify-content: space-between;
}

.head .nav .section_02 .menu ul li {
  padding: 0 23px 0 22px;
  font-size: 14px;
}

/* head text_box */
.head .text_box {
  position: absolute;
  top: 260px;
  left: 22px;
  color: #333;
}

.head .text_box h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 30px;
}

.head .text_box p {
  font-size: 18px;
}

/* item */
.item {
  position: relative;
}

.item ul {
  display: flex;
  justify-content: space-between;
}

.item ul li {
  width: 299px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.item ul li .img {
  width: 299px;
  height: 299px;
  /* background-image: url('../images/item.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.item ul li .img_01 {
  background-image: url('../images/1.jpg');
}
.item ul li .img_02 {
  background-image: url('../images/2.jpg');
}
.item ul li .img_03 {
  background-image: url('../images/3.jpg');
}
.item ul li .img_04 {
  background-image: url('../images/4.jpg');
}

.item h3 {
  position: absolute;
  font-size: 36px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item h2 {
  font-size: 13px;
}

.item p {
  font-size: 12px;
  margin-top: 4px;
}

.item .small {
  font-size: 11px;
  margin-top: 10px;
  opacity: 50%;
}

/* item best_review */
.item .best_review_ul li {
  width: 408px;
}

.item ul li .img_05 {
  background-image: url('../images/5.jpg');
}
.item ul li .img_06 {
  background-image: url('../images/6.jpg');
}
.item ul li .img_07 {
  background-image: url('../images/7.jpg');
}

.best_review ul li h2 {
  font-size: 24px;
}

.best_review ul li .score {
  font-size: 20px;
  display: flex;
  margin: 20px 0;
  position: relative;
}

.best_review ul li .score i {
  color: red;
}

.best_review ul li .score p {
  position: absolute;
  font-size: 18px;
  top: -8px;
  left: 110px;
  font-weight: 700;
}

.item .best_review_ul li .review_box {
  display: flex;
  justify-content: space-between;
}

.item .best_review_ul li .review_box p {
  font-size: 13px;
}

.best_review .best_review_ul a li .user_review {
  display: inline-block;
  /* width: 60px; */
  /* height: 60px; */
  background-image: url('../images/item.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 60px;
  margin-left: 20px;
}

.item .best_review_ul li .img_b {
  width: 408px;
  height: 408px;
  /* background-image: url('../images/item.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

/* item best_product */
.best_product ul li {
  position: relative;
}

.item ul li .img_08 {
  background-image: url('../images/8.jpg');
}
.item ul li .img_09 {
  background-image: url('../images/9.jpg');
}
.item ul li .img_10 {
  background-image: url('../images/10.jfif');
}
.item ul li .img_11 {
  background-image: url('../images/11.jpg');
}

.best_product ul li .box {
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: 700;
}

.best_product ul li .box span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.best_product ul li .made {
  margin-top: 12px;
}

/* best_task */

.item ul li .img_12 {
  background-image: url('../images/12.jpg');
}
.item ul li .img_13 {
  background-image: url('../images/13.jpg');
}
.item ul li .img_14 {
  background-image: url('../images/14.jpg');
}
.item ul li .img_15 {
  background-image: url('../images/15.jpg');
}

/* best_kids */
.item ul li .img_16 {
  background-image: url('../images/16.jpg');
}
.item ul li .img_17 {
  background-image: url('../images/17.jpg');
}
.item ul li .img_18 {
  background-image: url('../images/18.jpg');
}
.item ul li .img_19 {
  background-image: url('../images/19.jpg');
}

/* best_home */
.item ul li .img_20 {
  background-image: url('../images/20.jpg');
}
.item ul li .img_21 {
  background-image: url('../images/21.jpg');
}
.item ul li .img_22 {
  background-image: url('../images/22.jpg');
}
.item ul li .img_23 {
  background-image: url('../images/23.jpg');
}

/* best_acc */
.item ul li .img_24 {
  background-image: url('../images/24.jpg');
}
.item ul li .img_25 {
  background-image: url('../images/25.jfif');
}
.item ul li .img_26 {
  background-image: url('../images/26.jpg');
}
.item ul li .img_27 {
  background-image: url('../images/27.jpg');
}

/* bg_banner */
.bg_banner {
  width: 100%;
  height: 620px;
  background-image: url('../images/bg_banner.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 100px;
}

.bg_banner::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
}

.bg_banner .text_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.bg_banner .text_box h2 {
  font-size: 34px;
}

.bg_banner .text_box p {
  margin-top: 32px;
  margin-bottom: 24px;
}

.bg_banner .text_box .btns {
  margin-top: 32px;
  display: flex;
  gap: 10px;
  /* cursor: pointer; */
}

.bg_banner .text_box .btns .b_b,
.bg_banner .text_box .btns .b_s {
  cursor: pointer;
}

.bg_banner .text_box .btns .b_b {
  width: 300px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
}

.bg_banner .text_box .btns .b_s {
  width: 50px;
  height: 50px;
  font-size: 26px;
}

/* recommend */
.item ul li .img_28 {
  background-image: url('../images/28.jpg');
}
.item ul li .img_29 {
  background-image: url('../images/29.jpg');
}
.item ul li .img_30 {
  background-image: url('../images/30.jpg');
}
.item ul li .img_31 {
  background-image: url('../images/31.jpg');
}
.item ul li .img_32 {
  background-image: url('../images/32.jpg');
}
.item ul li .img_33 {
  background-image: url('../images/33.jpg');
}
.item ul li .img_34 {
  background-image: url('../images/34.jpg');
}
.item ul li .img_35 {
  background-image: url('../images/35.jpg');
}
.item ul li .img_36 {
  background-image: url('../images/36.jpg');
}
.item ul li .img_37 {
  background-image: url('../images/37.jpg');
}
.item ul li .img_38 {
  background-image: url('../images/38.jpg');
}
.item ul li .img_39 {
  background-image: url('../images/39.jpg');
}

/* footer */
/* footer line */
.footer {
  color: #888;
}

.footer .line {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px 10px 20px;
  background-color: #f7f7f7;
  text-align: center;
  margin-bottom: 20px;
}

.footer .line .sns ul {
  display: flex;
}

.footer .line .text_box {
  display: flex;
  font-size: 13px;
}

.footer .line .text_box .number {
  margin-left: 30px;
}

.footer .line .text_box .seller {
  font-size: 14px;
}

.footer .line .text_box button {
  width: 130px;
  height: 24px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #4a4a4a;
  letter-spacing: -0.3px;
  vertical-align: top;
  cursor: pointer;
}

.footer .line .sns ul li {
  position: relative;
  width: 26px;
  height: 26px;
  margin-left: 12px;
  border-radius: 13px;
  color: #fff;
}

.footer .line .sns ul li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer .line .sns ul .blog {
  background-color: #00c73c;
  font-size: 8px;
}

.footer .line .sns ul .facebook {
  background-color: #3b5998;
}

.footer .line .sns ul .instagram {
  background-color: #111;
}

.footer .line .text_box button i {
  font-size: 13px;
}

/* footer .footer_menu */
.footer .footer_menu ul {
  display: flex;
  font-size: 13px;
}

.footer .footer_menu ul li {
  margin-right: 20px;
  margin-bottom: 20px;
}

/* footer .footer_info */
.footer .footer_info {
  margin-bottom: 100px;
}

.footer .footer_info ul {
  display: flex;
}

.footer .footer_info ul li {
  margin-right: 60px;
}

.footer .footer_info ul li h2 {
  font-size: 13px;
  margin-bottom: 10px;
  color: #000;
}

.footer .footer_info ul li p {
  font-size: 12px;
}

.footer .footer_info ul li p button {
  margin-left: 5px;
  padding: 0 4px;
  border: 1px solid #e7e7e7;
  line-height: 17px;
  font-size: 11px;
  color: #888;
  /* vertical-align: top; */
}

.footer .footer_info ul li h3 {
  font-size: 12px;
}

/* copyright*/
.copyright .notice {
  display: flex;
  margin-bottom: 20px;
  font-size: 13px;
}

.copyright .notice p {
  margin-right: 20px;
}

.copyright .last {
  display: flex;
  margin-bottom: 100px;
  font-size: 11px;
}

.copyright .last .logo {
  margin-right: 10px;
}
